h1 {
}

.firstName {
    color: black;
}

.lastName {
    color: #3d85c6;
}

.blue {
    color: #3d85c6;
}

h4 {
    margin-top: 1em;
    margin-bottom: 0.2em;
    color: #3d85c6;
}

p {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

/* Two column mode only for wide screens */
@media only screen and (min-width: 800px) {
    body, div, span, h1, h2, h3,
    p, a, code, strike, strong,
    b, u, i, table, tbody,
    thead, tr, th, td, section {
        margin: 0;
        padding: 0;
        border: 0;
    }

    p, table, h3, h4 {
        position: relative;
        left: 28%;
        width: 70%;
    }

    h1, h2, h3, h4 {
        width: 65%;
        position: relative;
    }

    h1 {
        left: 18%;
    }

    h2 {
        width: 18%;
        left: 10%;
    }

    h4 {
        margin-top: 0em;
        margin-bottom: 2 em;
    }

    p {
        margin-top: 0em;
        margin-bottom: 0.6em;
    }

    table {
        width: 30%;
    }
}

body, div, span, h1, h2, h3,
p, a, code, strike, strong,
b, u, i, table, tbody,
thead, tr, th, td, section {
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font: normal normal 400;
    font-size: 10pt;
    line-height: 1.35em;
    font-family: Verdana, sans-serif;
}

h1, h2, h3, h4 {
    font-weight: 400;
    font-family: Cousine, Verdana, sans-serif;
}

h1 {
    margin-top: 1em;
    margin-bottom: 0.3em;
    text-align: left;
    font-size: 3em;
    line-height: 1em;
}

h2 {
    margin-top: 1em;
    margin-bottom: 2 em;
    color: #3d85c6;
    font-size: 1.1em;
    top: 1.2em;
    text-align: left;
    font-weight: bold;
}

h3 {
    margin-bottom: 0;
}

code {
    display: block;
    color: #888888;
    margin-bottom: 0.2em;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color:#39f;
}

em {
    font-style: normal;
    color: #2d4e5e;
}

strong {
    font-weight: bold;
}
